body {
  background-color: lightblue;
}

.panel {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    display: block;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
}