#worktable {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}


.page, .panel {
    position: absolute;
    display: block;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.page {
  top: 40%;
  left: 50%;
}

.panel, .element {
  cursor: pointer;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.bubble-speech {
  -webkit-text-stroke: white;
}

img.element {
  object-fit: contain;
}

.disabled {
  opacity: 25%;
  cursor: not-allowed!important;
}

.rotate {
  transform : rotate(90deg);
}


.page-control {

  .pages {
    display: inline-flex;
    overflow-x: scroll;
    .page {
      margin-left: 5px;
      position: relative;
      cursor: pointer;
    }
  }

  

}