<div id="worktable">
  <app-page
    [(page)]="draft.pages[selectedPage]"
    [height]="draft.height"
    [width]="draft.width"
    [margin]="draft.margin"
    [grid]="draft.grid"
    [displayScale]="displayScale"
    [selectedPanel]="selectedPanel"
    [selectedElement]="selectedElement"
    (pageChange)="onPageChange()"
    (selectPanel)="onSelectPanel($event)"
    (selectElement)="onSelectElement($event)"
  >
  </app-page>
  <app-ui-draft-control
  [canUndo]="canUndo()"
  (newDraft)="onNewDraft(true)"
  (exportToJSON)="onExportToJSON()"
  (undo)="onUndo()"
></app-ui-draft-control>
  <app-ui-page-control
    [draft]="draft"
    [currentPage]="selectedPage"
    (movePage)="onMovePage($event)"
    (duplicatePage)="onDuplicatePage()"
    (selectPage)="onSelectPage($event)"
    (createPage)="onCreatePage()"
    (deletePage)="onDeletePage()"
    (exportToPNG)="onExportToPNG()"
  ></app-ui-page-control>
  <app-ui-panel-control
    [(panel)]="selectedPanel"
    (createPanel)="onCreatePanel($event)"
    (createElement)="onCreateElement($event)"
    (unselect)="onUnselectPanel()"
    (delete)="onDeletePanel()"
  ></app-ui-panel-control>
  <app-ui-element-control
    [(selected)]="selectedElement"
    (selectedChange)="onDraftChange()"
    (delete)="onDeleteElement()"
    (unselect)="onUnselectElement()"
  ></app-ui-element-control>
</div>
